{% extends 'base.html' %}
{% block title %}
    Все объявления
{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Все объявления</h1>
    <a class="p-2 text-dark" href="/creature">Добавить объявление</a>
    <a class="p-2 text-dark" href="/ads">Объявления</a>
    {% if gad|length > 0 %}
        {% for a in gad%}
            <div class="alert alert-info">
                <h2>{{ a.title }}</h2>
            <p>{{ a.content }}</p>
                <p><b>Дата: {{ a.tm.date() }} {{ a.tm.time() }}</b></p>
                <a href="/ads/{{ a.id }}"class="btn btn-success">Свойства</a>
            </div>
        {% endfor %}
    {% else %}
    <p>Объявлений нет</p>
    {% endif %}

    </div>

{% endblock %}