{% extends 'base.html' %}

{% block title %}
    Доска объявлений
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Новое объявление</h1>
    <form method="post">
        <label for="title"></label><input type="text" name="title" id="title" class="from-control" placeholder="Введите тему объявления"><br><br>
        <textarea name="content" id="content" class="from-control" placeholder="Введите текст объявления"></textarea><br><br>
        <input type="submit" class="btn btn-success" value="Добавить"><br><br>
    </form>
    <a class="p-2 text-dark" href="/ads">Вернуться к объявлениям</a>
</div>
{% endblock %}
